body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.testClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.testClass h1 {
    font-size: 32px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.testClass img {
    margin-top: 100px;
    animation: rotation 2s infinite linear;
}

.testClass img:hover {
    margin-top: 100px;
    animation: rotation 0.5s infinite linear;
}